
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6; 
       
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--backgrond);
    width: 100vw;
    height: 100vh;
   
}

a {
    text-decoration: none;
}

article {   
    width: 100%;
    height: 100%;
    background: url("/assets/blur-1.png") no-repeat, url("/assets/blur-2.png") no-repeat;
    background-position: bottom left, top right; 
    
}

div.principal {
    width: 70%;
    height: 100%;
    margin: auto;
}


/* CABEÇALHO ==================================== */

header {
   padding: 3rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}

.logo, .menu-meio {
    padding: 0 4.5rem;
    
}

.menu-direito {
    color: var(--text-color);
    font-weight: 600;
    padding: 0.7rem 2.3rem;
    border: 1px solid var(--button);
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    white-space: nowrap;
   
   
}
.menu-meio ul{
    display: flex;
    align-items: center;
    justify-content: center; 
    list-style: none; 
    
}

.menu-meio ul li a{
    color: var(--text-color);
    font-weight: 100;
    margin: 0 .5rem;
    padding: 0 0.8rem;
    font-size: 0.9rem; 
}


/* CONTEUDO=======================*/


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
      
}
.great-coffee {
    color: var(--text-color);
    font-weight: 700;
    white-space: nowrap;
    font-size: 5rem;
}
.great-code {
    font-size: 5rem;
    color: var(--backgrond);
    white-space: nowrap;
    text-shadow: 1px 1px 1px var(--button), -1px 1px 1px var(--button),  1px -1px 1px var(--button),-1px -1px 1px var(--button);
  
}