/*RESPONSIVIDADE =========================================================*/

@media (max-width: 768px) {
   .logo-desktop, .menu-meio, .menu-direito {
       display: none;
   }
   .logo-mobile, .botao-menumobileopen {
       display: block;
       margin: 0 2rem;
             
   }
   
   .botao-menumobileopen {
       height: 1.4rem;
       cursor: pointer;
   }

   header {
       padding: 2rem 0;
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-bottom: 1px solid var(--border-menu-mobile);
       
   }
   
   .img-rocket {
        width: 100vw;
   }
   body {
       background: url("../assets/blur-mobile.png") no-repeat bottom, var(--backgrond);
       background-size: cover;
       
       
   }
   .conteudo-mobile {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 4rem 2rem;    
       
   }
   .conteudo-mobile p {
       color: white;
       font-size: 2rem;
       margin: 2rem;
       text-align: center;
       padding: 0.5rem;
             
    }

    .conteudo-mobile a {
    color: var(--text-color);
    font-weight: 600;
    padding: 0.7rem 2.3rem;
    border: 1px solid var(--button);
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    white-space: nowrap;
    
    }

    .great-coffee, .great-code {
        margin: 0 2rem;
    }

    .menu-mobile.on {
        display: block;
        width: 100vw;
        height: 100vh;
        transform: translateX(0);
        transition: all 800ms;
        
        
    }
    .menu-mobile.on ul li a{
        display: block;
        color: var(--text-color-menu-mobile);
        line-height: 5rem;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--border-menu-mobile);
        padding: 0 2rem;        
    } 
    .menu-mobile.on ul li a:hover {
        border-left: 8px solid var(--button);
    }

    
}
  



@media (max-width: 700px){

    .great-coffee, .great-code {
        font-size: 5rem;       
    }
    
}

@media (max-width: 640px){
    .great-coffee, .great-code {
        font-size: 4rem;

    }
    
}
@media (max-width: 575px){

    html {
        font-size: 80%;
       
    }
    .conteudo-mobile a {
        font-size: 0.8rem;
    }
  
}

@media (max-width: 460px){

    html {
        font-size: 70%;
       
    }

    .conteudo-mobile a {
        font-size: 0.8rem;
    }
      
   
}

@media (max-width: 400px){

    html {
        font-size: 65%;
       
    }
  
    .conteudo-mobile a {
        font-size: 0.7rem;
    }
        
}